.SideBar{
    width: 15vw;
    background: skyblue;
    height: 51vh;
    padding: 2vw;
    .PatientImage{
img{
    width: 11vw;
    padding: 0vw;
    border-radius: 50%;
    border: 7px solid black
}
    }
    .PatientName{
font-weight: 500;
color: black;
    }

}
.Sidebar-links{
li{
    list-style: none;
}
}