.footer{
    background-image: url(../../Images//bg.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 20vh;
    align-items: center;
   
}