#Hero{
   
    background: lightblue;
    opacity: 0.8;
    #Text{
        background-image: url(../../Images/health.png);
        height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    padding: 18vw 74vw;
    margin-left: 0vw;
        h3{
            color: black;
            display: flex;
            padding: 0vw 1vw;
            font-size: 4vw;
            margin: 0vw;
        }
        h1{
            color: blue;
            font-size: 5.5vw;
            padding: 0vw;
            margin-top: 0vw;
            display: flex;
        }
    }
}  